- if (server.city && server.city.slug.toLowerCase() == 'www')
	- www = true
	- displayMode = "regions"
	- region = server.domain.countryCode.toUpperCase()
	- stateCode = false
- else
	- www = false
	- region = server.city.state.countryCode.toUpperCase() + "-" + server.city.state.stateCode.toUpperCase()
	- stateCode = server.city.state.stateCode
	- displayMode = "markers"

- _data  = []
- _slugs = []
- _total  = 0

each item in data
	- if (item && item.byState && item.byCity && item.byState)
		- elementId = item._id

		- if (www)
			each _record in item.byState.data
				- _total += _record[1]

			- item.byState.data.unshift([__('State'), __('Ads count')])
			- _data   = item.byState.data
			- __data  = JSON.stringify(_data, null, "\t")
			- _slugs  = item.byState.dataSlugs
			- __slugs = JSON.stringify(item.byState.dataSlugs, null, "\t")



		- else
			each state, i in item.byCity.dataStateCodes
				- if (state == stateCode)
					- _data.push(item.byCity.data[i])
					- _slugs.push(item.byCity.dataSlugs[i])

			each _record in _data
				- _total += _record[1]
			- _data.unshift([__('City'), __('Ads count')])
			- __data  = JSON.stringify(_data, null, "\t")
			- __slugs = JSON.stringify(_slugs, null, "\t")

		- if (__data && __slugs)
			script(type='text/javascript')
				google.load('visualization', '1', {'packages': ['corechart']});

				var drawPiaMap = function () {
					var data = google.visualization.arrayToDataTable(!{__data});
					var options = {
						is3D: true
					};

					var pieChart = new google.visualization.PieChart(document.getElementById('#{elementId}'));
					pieChart.draw(data, options);

					google.visualization.events.addListener(pieChart, 'select', function (eventData) {
						var selection = pieChart.getSelection();
						var message;
						var __slugs = !{__slugs}
						for (var i = 0; i < selection.length; i++) {
							var item = selection[i];
							if (item.row != null && item.column != null) {
								message += '{row:' + item.row + ',column:' + item.column + '}';
							} else if (item.row != null) {
								message += '{row:' + item.row + '}';
							} else if (item.column != null) {
								message += '{column:' + item.column + '}';
							}
						}
						if (message == '') { message = 'nothing';}

						var city = __slugs[selection[0].row].toString().toLowerCase();
						var location = "http://" + city + ".#{server.host}/#{server.path}";
						window.location = location;
					});
				};
				google.setOnLoadCallback(drawPiaMap);

			- if (www)
				div(id="#{elementId}").geo-chart
			- else
				div(id="#{elementId}")

			div.row-fluid.mt10.map
				each item, i in _data
					- if (i > 0 && i <= 12)
						- if (www)
							div.span6
								- ulr = "http://" + _slugs[(i-1)] + "." + server.host + "/" + server.path
								- _precent = (item[1] / _total * 100)
								!= __('<a href="%s" target="_self">%s (%s%%)</a>', ulr, item[0],  _precent.toFixed(1))
						- else
							div.span6
								- ulr = "http://" + _slugs[(i-1)] + "." + server.host + "/" + server.path
								- _city = item[0].split(",")
								// - _city = _city[0] + ", " + stateCode.toUpperCase()
								- _city = _city[0]
								- _precent = (item[1] / _total * 100)
								!= __('<a href="%s" target="_self">%s (%s%%)</a>', ulr, _city, _precent.toFixed(1))
	- else
		| #{__('There are no ads at any States')}								